/* Gecko- Mozilla***
    Webkit-Safari***
    Blik-google chorme y opera***
    Trident- internet explorer***
    EdgeHtml -Edge***
    Tasman-Internet Explorer***
*/
body{
    width: 700px
}
.siguiente{
    margin-top: 50px;
}
#vali{
    margin-top: 30px;
}
